In [14]:
import warnings 
warnings.filterwarnings('ignore')
import pandas as pd

# load in TF-IDF vector file
tfidf_vectors = pd.read_excel('tdf-vectors.xlsx', index_col=0)

tfidf_vectors.shape

(8785, 107)

In [15]:
# reduce dataframe to only contain initial centroids and 3  additional vectors of each article topic 
# (and the terms for now, but we will drop those)

tfidf_vectors = tfidf_vectors[['9901_sports.txt-tfidf','0101_sports.txt-tfidf','0102_sports.txt-tfidf','0103_sports.txt-tfidf',
               '9902_food.txt-tfidf','0105_food.txt-tfidf','0110_food.txt-tfidf','0201_food.txt-tfidf',
               '9903_tech.txt-tfidf','0305_tech.txt-tfidf','0420_tech.txt-tfidf','0312_tech.txt-tfidf',
               '9904_science.txt-tfidf','0310_science.txt-tfidf','0409_science.txt-tfidf','0419_science.txt-tfidf',
               '9905_business.txt-tfidf','0519_business.txt-tfidf','0501_business.txt-tfidf','0518_business.txt-tfidf',
               '9906_politics.txt-tfidf','0515_politics.txt-tfidf','0505_politics.txt-tfidf','0520_politics.txt-tfidf']]

tfidf_vectors = tfidf_vectors.reindex(sorted(tfidf_vectors.columns), axis=1)

tfidf_vectors

,0101_sports.txt-tfidf,0102_sports.txt-tfidf,0103_sports.txt-tfidf,0105_food.txt-tfidf,0110_food.txt-tfidf,0201_food.txt-tfidf,0305_tech.txt-tfidf,0310_science.txt-tfidf,0312_tech.txt-tfidf,0409_science.txt-tfidf,...,0515_politics.txt-tfidf,0518_business.txt-tfidf,0519_business.txt-tfidf,0520_politics.txt-tfidf,9901_sports.txt-tfidf,9902_food.txt-tfidf,9903_tech.txt-tfidf,9904_science.txt-tfidf,9905_business.txt-tfidf,9906_politics.txt-tfidf
aapl,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0
aaron,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,12.70799,0.0,0.00000,0.0
ab,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0
abalone,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0
abandon,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zoom,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0
zucchini,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0
zuckerberg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,9.32692,0.0,9.32692,0.0
zuckerbergfacebookvirtual,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0
zuo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0

In [16]:
tfidf_vectors['sports_centroid'] = tfidf_vectors['9901_sports.txt-tfidf']
tfidf_vectors['food_centroid'] = tfidf_vectors['9902_food.txt-tfidf']
tfidf_vectors['tech_centroid'] = tfidf_vectors['9903_tech.txt-tfidf']
tfidf_vectors['science_centroid'] = tfidf_vectors['9904_science.txt-tfidf']
tfidf_vectors['business_centroid'] = tfidf_vectors['9905_business.txt-tfidf']
tfidf_vectors['politics_centroid'] = tfidf_vectors['9906_politics.txt-tfidf']

tfidf_vectors

,0101_sports.txt-tfidf,0102_sports.txt-tfidf,0103_sports.txt-tfidf,0105_food.txt-tfidf,0110_food.txt-tfidf,0201_food.txt-tfidf,0305_tech.txt-tfidf,0310_science.txt-tfidf,0312_tech.txt-tfidf,0409_science.txt-tfidf,...,9903_tech.txt-tfidf,9904_science.txt-tfidf,9905_business.txt-tfidf,9906_politics.txt-tfidf,sports_centroid,food_centroid,tech_centroid,science_centroid,business_centroid,politics_centroid
aapl,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0
aaron,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12.70799,0.0,0.00000,0.0,0.0,0.0,12.70799,0.0,0.00000,0.0
ab,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0
abalone,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0
abandon,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zoom,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0
zucchini,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0
zuckerberg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9.32692,0.0,9.32692,0.0,0.0,0.0,9.32692,0.0,9.32692,0.0
zuckerbergfacebookvirtual,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0
zuo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0

In [17]:
distance_matrix = pd.DataFrame(columns=['sports_centroid','food_centroid','tech_centroid','science_centroid','business_centroid','politics_centroid'])

# import package
from scipy.spatial.distance import cosine

for col in tfidf_vectors.columns:
    if 'tfidf' in str(col):
        idx = str(col)
        sports_dist = round(cosine(tfidf_vectors[col], tfidf_vectors['sports_centroid']),10)
        food_dist = round(cosine(tfidf_vectors[col], tfidf_vectors['food_centroid']),10)
        tech_dist = round(cosine(tfidf_vectors[col], tfidf_vectors['tech_centroid']),10)
        science_dist = round(cosine(tfidf_vectors[col], tfidf_vectors['science_centroid']),10)
        business_dist = round(cosine(tfidf_vectors[col], tfidf_vectors['business_centroid']),10)
        politics_dist = round(cosine(tfidf_vectors[col], tfidf_vectors['politics_centroid']),10)
        
        distance_matrix.loc[idx] = [sports_dist, food_dist, tech_dist, science_dist, business_dist, politics_dist]
        
distance_matrix

,sports_centroid,food_centroid,tech_centroid,science_centroid,business_centroid,politics_centroid
0101_sports.txt-tfidf,0.978032,0.988298,0.978044,0.986262,0.992155,0.974214
0102_sports.txt-tfidf,0.979647,0.987683,0.985832,0.993829,0.992554,0.984454
0103_sports.txt-tfidf,0.971782,0.997671,0.988554,0.997469,0.985469,0.982265
0105_food.txt-tfidf,0.971328,0.986045,0.987628,0.987135,0.988805,0.986240
0110_food.txt-tfidf,0.988001,0.983421,0.990786,0.994963,0.988893,0.992711
0201_food.txt-tfidf,0.987049,0.941132,0.987923,0.988201,0.987479,0.989621
0305_tech.txt-tfidf,0.996453,0.997211,0.989368,0.976268,0.997086,0.993073
0310_science.txt-tfidf,0.995889,0.981648,0.991687,0.972797,0.996850,0.978681
0312_tech.txt-tfidf,0.999636,0.967139,0.988194,0.998681,0.999213,0.992419
0409_science.txt-tfidf,0.977480,0.991404,0.969476,0.977042,0.998452,0.974367
0419_science.txt-tfidf,0.995352,0.982538,0.980367,0.986935,0.996305,0.989358
0420_tech.txt-tfidf,0.990494,0.983503,0.945063,0.996936,0.998125,0.980252
0501_business.txt-tfidf,0.996095,0.997405,0.980794,0.996607,0.971205,0.993108
0505_politics.txt-tfidf,0.979169,0.995630,0.988092,0.997180,0.988497,0.954822
0515_politics.txt-tfidf,0.991521,0.995248,0.984517,0.989491,0.996755,0.956576
0518_business.txt-tfidf,0.997227,0.986791,0.988112,0.996557,0.985281,0.989855
0519_business.txt-tfidf,0.994621,0.990370,0.962084,0.994317,0.974766,0.975565
0520_politics.txt-tfidf,0.990722,0.990211,0.967677,0.993440,0.977866,0.940468
9901_sports.txt-tfidf,0.000000,0.996915,0.995198,0.994479,0.984745,0.988398
9902_food.txt-tfidf,0.996915,0.000000,0.987351,0.996724,0.992254,0.974793
9903_tech.txt-tfidf,0.995198,0.987351,0.000000,0.992853,0.982680,0.968343
9904_science.txt-tfidf,0.994479,0.996724,0.992853,0.000000,0.982778,0.988074
9905_business.txt-tfidf,0.984745,0.992254,0.982680,0.982778,0.000000,0.986981
9906_politics.txt-tfidf,0.988398,0.974793,0.968343,0.988074,0.986981,0.000000

In [18]:
distance_matrix.idxmax(axis=1)

0101_sports.txt-tfidf      business_centroid
0102_sports.txt-tfidf       science_centroid
0103_sports.txt-tfidf          food_centroid
0105_food.txt-tfidf        business_centroid
0110_food.txt-tfidf         science_centroid
0201_food.txt-tfidf        politics_centroid
0305_tech.txt-tfidf            food_centroid
0310_science.txt-tfidf     business_centroid
0312_tech.txt-tfidf          sports_centroid
0409_science.txt-tfidf     business_centroid
0419_science.txt-tfidf     business_centroid
0420_tech.txt-tfidf        business_centroid
0501_business.txt-tfidf        food_centroid
0505_politics.txt-tfidf     science_centroid
0515_politics.txt-tfidf    business_centroid
0518_business.txt-tfidf      sports_centroid
0519_business.txt-tfidf      sports_centroid
0520_politics.txt-tfidf     science_centroid
9901_sports.txt-tfidf          food_centroid
9902_food.txt-tfidf          sports_centroid
9903_tech.txt-tfidf          sports_centroid
9904_science.txt-tfidf         food_centroid
9905_business.txt-tfidf        food_centroid
9906_politics.txt-tfidf      sports_centroid
dtype: object

In [19]:
sports_cluster = []
food_cluster = []
tech_cluster = []
science_cluster = []
business_cluster = []
politics_cluster = []

for doc in distance_matrix.index:
    
    centroid = distance_matrix.loc[doc].idxmin()
    
    if 'sports' in str(centroid):
        sports_cluster.append(str(doc))
    
    if 'food' in str(centroid):
        food_cluster.append(str(doc))
        
    if 'tech' in str(centroid):
        tech_cluster.append(str(doc))
        
    if 'science' in str(centroid):  
        science_cluster.append(str(doc))
        
    if 'business' in str(centroid):
        business_cluster.append(str(doc))
        
    if 'politics' in str(centroid):
        politics_cluster.append(str(doc))

In [20]:
tfidf_vectors['sports_centroid'] = tfidf_vectors[sports_cluster].sum(axis=1)
tfidf_vectors['food_centroid'] = tfidf_vectors[food_cluster].sum(axis=1)
tfidf_vectors['tech_centroid'] = tfidf_vectors[tech_cluster].sum(axis=1)
tfidf_vectors['science_centroid'] = tfidf_vectors[science_cluster].sum(axis=1)
tfidf_vectors['business_centroid'] = tfidf_vectors[business_cluster].sum(axis=1)
tfidf_vectors['politics_centroid'] = tfidf_vectors[politics_cluster].sum(axis=1)

In [21]:
tfidf_vectors

,0101_sports.txt-tfidf,0102_sports.txt-tfidf,0103_sports.txt-tfidf,0105_food.txt-tfidf,0110_food.txt-tfidf,0201_food.txt-tfidf,0305_tech.txt-tfidf,0310_science.txt-tfidf,0312_tech.txt-tfidf,0409_science.txt-tfidf,...,9903_tech.txt-tfidf,9904_science.txt-tfidf,9905_business.txt-tfidf,9906_politics.txt-tfidf,sports_centroid,food_centroid,tech_centroid,science_centroid,business_centroid,politics_centroid
aapl,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.00000,0.0,0.0,0.0,21.74766,0.0,0.00000,0.0
aaron,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,12.70799,0.0,0.00000,0.0,0.0,0.0,12.70799,0.0,0.00000,0.0
ab,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0
abalone,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0
abandon,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
zoom,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0
zucchini,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0
zuckerberg,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9.32692,0.0,9.32692,0.0,0.0,0.0,9.32692,0.0,9.32692,0.0
zuckerbergfacebookvirtual,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0
zuo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.00000,0.0,0.0,0.0,0.00000,0.0,0.00000,0.0